.right {
  float: right;
}

.question-box .btn {
  margin-top: 10px;
  margin-right: 10px;
}

.question-box h3 {
  border-top: solid 2px #aaa;
  padding-top: 5px;
  margin-top: 50px;
  &:first-child {
    border: none;
    margin-top: 20px;
  }
}

#create-option {
  margin-top: 0;
}

#content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-buttons .btn {
  width: 100%;
}

.top-buttons {
  margin-bottom: 20px;
}

.optionsList {
  margin-top: 10px;
  border: solid 1px #ddd;
  &.no-border{
    border: none;
  }
  .btn-danger {
    margin: 0;
  }
}

.optionsList p {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.brand-text {
  font-size: 18px;
  background-color: #DBA800;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  margin-right: 8px;
}

.active {
  background-color: #e6ffd6;
}

.question {
  border: solid 1px #d5d5d5;
  padding: 10px
}

.question img {
  max-width: 350px;
}

#result-text {
  margin-top: 30px;
}

.questionForm mark {
  margin-left: 10px;
}

.resultsList {
  // border: solid 1px #d5d5d5;
  padding: 10px;
  p {
    font-size: 16px;
  }
}

.questionForm {
  .col-md-3 {
    input {
      display: inline-block;
    }
    input:nth-child(3) {
      width: 130px;
      margin-left: 15px
    }
  }
}

.resultForm {
  .row {
    margin-bottom: 10px;
  }
}
