.bm_page {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.bm_page h3 {
  font-size: 1.4em;
  margin-bottom: 0;
}
.bm_page > p {
  margin-top: 5px;
}
.bm_questionList li label{
  padding: 6px;
  display: inline-block;
  width: 80%;
}
.bm_questionList {
  padding: 0;
  margin-bottom: 0;
}
.bm_optionList {
  padding: 0;
}
.bm_optionList li {
  border: solid 1px #aaa;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 6px;
  background-color: #f5f5f5;
}
.bm_optionList li.active {
  background-color: #0de53b;
}
.bm_question h4 {
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 0;
}

.bm_question img {
  max-width: 100%;
  margin-bottom: 10px;
}
.bm_results {
  padding: 10px;
  background-color: #f5f5f5;
  border: solid 1px #aaa;
  border-radius: 4px
}
